header {
  z-index: 199;
  position: absolute;
  left: 0;
  top: 0;
  height: 67px;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
}

header #toggleMenu {
  display: block;
  position: relative;
}

header #toggleMenu .container {
  height: 100%;
  position: relative;
}

header #toggleMenu .container span {
  display: none;
}

header #toggleMenu .container input {
  display: none;
}

header #toggleMenu .container .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

header #toggleMenu .container .row .col-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #toggleMenu .container .row .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #toggleMenu .container .row .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header #toggleMenu .container .row .logo a img {
  min-width: 100%;
}

header #toggleMenu .container .row .col-9 .nav-menu {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

header #toggleMenu .container .row .col-9 .nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header #toggleMenu .container .row .col-9 .nav-menu ul li {
  list-style: none;
}

header #toggleMenu .container .row .col-9 .nav-menu ul li > a {
  padding: 1em;
  color: #fff;
}

@media (max-width: 960px) {
  /* ========================= */
  /* ===== Tablet Burger ===== */
  /* ========================= */
  header #toggleMenu .container {
    display: block;
    position: relative;
  }
  header #toggleMenu .container span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: absolute;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 1 ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 1 ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 1 ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 1 ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  header #toggleMenu .container span:nth-of-type(1) {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    right: 30px;
    top: 18px;
  }
  header #toggleMenu .container span:nth-of-type(2) {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    right: 30px;
    top: 29px;
  }
  header #toggleMenu .container span:nth-of-type(3) {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    right: 30px;
    top: 40px;
  }
  header #toggleMenu .container input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  header #toggleMenu .container .row .col-9 .nav-menu {
    display: none;
  }
}
/*# sourceMappingURL=header.css.map */