* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: grid;
	place-content: center;
	background: #c2d0ff;
}

.cube{
    position: relative;
    width: 100vw;
    height: 100vh;
    
}

.cube h2 {
    text-align: center;
    height: 100%;
    width: 100%;
}

.cube-a{
	width: 12rem;
	height: 12rem;
    border: solid 1rem #fff;
    position: absolute;
    top: 12rem;
    left: 12rem;
    display: flex;
    vertical-align: auto;
    line-height: 150px;
    border-radius: 1rem;
}


.cube-b{
    width: 12rem;
    height: 6rem;
    border-top: 1rem solid #fff;
    border-bottom: 1rem solid #fff;
    border-right: 1.5rem solid #fff;
    border-left: 1.5rem solid #fff;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem ;
    position: absolute;
    top: 7rem;
    left: 14.5rem;
    transform: skew(135deg, 0deg);
    display: flex;
    vertical-align: auto;
}

.cube-c{
    width: 6rem;
    height: 12rem;
    border-top: 1rem solid #fff;
    border-bottom: 1rem solid #fff;
    border-right: 1rem solid #fff;
    border-left: 1rem solid #fff;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: absolute;
    top: 9.5rem;
    left: 23rem;
    transform: skew(0deg, 135deg);
    justify-content: center; 
    line-height: 150px;
}